body {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar {
  background-color: red;
  float: left;
  width: 300px;
  margin-right: 10px;
  padding: 10px;
  border: solid white;
  border-width: 5px;
  box-sizing: border-box;
}

.sidebar img {
  margin: auto;
  width: 100%;
  height: auto;
  display: block;
}

.sidebar h1 {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-size: 14pt;
  color: purple;
}

.sidebar h2 {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-size: 12pt;
  color: purple;
}

.sidebar p,ul,ol {
  font-size: 10pt;
}

.sidebar a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.content {
  background-color: blue;
  width: 900px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.content h2 {
  font-family:'Courier New', Courier, monospace;
  text-align: right;
  font-size: 14pt;
}

.content p {
  font-size: 12pt;
}