body {
  background-color: #d2dbca;
  color: #ffffff;
  font-family: georgia;
}

.sidebar {
  background-color: #f6bfd7;
  float: left;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: solid #f5b4d1;
  border-width: 2px;
  box-sizing: border-box;
}

.sidebar img {
  border: solid white;
  border-width: 10px;
  border-bottom: solid white;
  border-bottom-width: 60px;
  margin: auto;
  width: 70%;
  height: auto;
  display: block;
}

.sidebar h1 {
  font-family: rockwell;
  text-align: center;
  font-size: 14pt;
  color: #d885aa;
}

.sidebar h2 {
  font-family: rockwell;
  text-align: center;
  font-size: 12pt;
  color: #d885aa;
}

.sidebar p,ul,ol {
  font-size: 10pt;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

.content {
  float: left;
  background-color: #b1c1a3;
  border: solid #a5b895;
  border-width: 2px;
  width: 50%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.content h2 {
  color: #728562;
  font-family: rockwell;
  text-align: right;
  font-size: 14pt;
}

.content p {
  font-size: 12pt;
}